.dark,
.dark * {
  background-color: #616b70;
  color: #e6e7e8;
}

.dark {
  mark {
    color: #616b70;
    background-color: #e6e7e8;
  }

  a {
    color: #ebecec;
    text-decoration-line: underline;
    font-weight: 500;
  }
}
